services:
  caddy:
    image: {{ caddy_image_name }}
    restart: unless-stopped
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "80:80"
      - "443:443"
    networks:
      - caddy_network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:2019/metrics"] # Health check for Caddy's admin API
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s

networks:
  caddy_network:
    external: true

volumes:
  caddy_data:
  caddy_config:
